.homepage {
    background-color: white;
}

.website {
    text-decoration: none;
    color: #221F1F;
    margin-right: 10px;
}

.title {
    margin-bottom: 5px;
}

.talkImg {
    border-top: 2px solid #221F1F;
    border-left: 2px solid #221F1F;
    border-bottom: 2px solid #221F1F;
    outline: 8px solid #EDAC3A;
    margin: 20px;
}

.talkImg:hover {
    transform: scale(1.05);
}

.dialog {
    border: 10px solid #221F1F;
}

.dialogText {
    color: #221F1F
}

.descTitle {
    margin-top: 0;
}

.btn {
    background-color: #221F1F;
    color: #EDAC3A;
    width: 200px;
    height: 50px;
    font-size: large;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.p {
    width: 400px;
    color: #221F1F;
}

.descImg {
    width: 400px;
}

@media (max-width: 450px) {
    .descImg {
        width: 250px;
    }
}

@media (max-width: 330px) {
    .descImg {
        width: 150px;
    }
}

.drawerDiv {
    position: absolute;
    height: 100px;
    width: 100%;
}

.drawerP {
    background-color: #EDAC3A;
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;
}

.dialogP {
    text-align: center;
}

.XBtn {
    background-color: transparent;
    color: #221F1F;
    border: none;
    font-size: 20px;
}