.submissionContainer {
 /* display: flex;
 flex-wrap: wrap;
 justify-content: left; */
 padding-left: 20px;
 padding-bottom: 5px;
}
#submissionVideo{
  height: 400px;
  width: 500px;
}
@media only screen and (max-width: 600px) {
  #submissionVideo{
    height: 200px;
    width: 300px;
  }
  .submissionContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 20px;
   }
   
}

.submitBtn {
  color: #EDAC3A;
  background: #221F1F;
  width: 150px;
  height: 45px;
  border: 0 solid #221F1F;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
  display: block;
  margin: auto;
}
.submissionPara{
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0;
}