.topicHeader{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #221F1F;
  padding: 15px;
  border-collapse: separate;
}


.toggleButton {
  display: inline;
}

.submissionTitle {
  margin: 0;
  
}
.MuiSvgIcon-root.arrow{
  padding-top: 4px
}
@media only screen and (max-width: 600px) {
  
  .submissionTitle {
    margin: 0;
    font-size: 20px;
  }
  .MuiSvgIcon-root.arrow{
    padding: 0;
  }
}