#topicContainer {
    padding-top: 60px;
}
.submissionHeader{
    border-bottom: 2px solid #221F1F;
    padding-top: 20px;
}

.likesHeader{
    float: right;
    top: 0;
    font-size: 20px;
    padding-right: 10px
}