.form {
    margin-top: 20px;
    margin-bottom: 50px;
}

.input {
    width: 260px;
    height: 30px;
    border: medium solid #221F1F;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 15px;
}

.homepageTitle {
    margin-bottom: 5px;
}

.selectInput {
    width: 270px;
    height: 38px;
    border: medium solid #221F1F;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 15px;
}

.textbox {
    width: 260px;
    font-family: 'Inter', sans-serif;
    border: medium solid #221F1F;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 5px 2px;
}

.detailParagraph {
    font-size: 20px;
    width: 290px;
    margin: auto;
}

.details {
    width: 300px;
    margin-left: 0px;
}

.inputDesc {
    display: inline-flex;
    margin-left: 8px;
    margin-bottom: 4px;
    font-size: 20px;
}

.submitBtnForm {
    color: #EDAC3A;
    background: #221F1F;
    width: 150px;
    height: 45px;
    border: 0 solid #221F1F;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    display: block;
    margin: auto;
}

.disabled {
    background-color: #666666;
}

.uploadBtnText {
    font-size: 20px;
    justify-content: flex-start;
}

.rdsu-progress {
    display: none;
}

.rdsu-image{
    display: none;
}

.dropzoneCheckmark {
    float: right;
    height: 90px;
    line-height: 90px;
}