.form {
    margin-top: 20px;
    margin-bottom: 50px;
}

.input {
    width: 290px;
    height: 35px;
    border: medium solid black;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 15px;
}

.textbox {
    width: 290px;
    border: medium solid black;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 5px 2px;
}

.detailParagraph {
    font-size: 22px;
    width: 290px;
    margin: auto;
}

.details {
    width: 300px;
    margin-left: 0px;
}

.vidmb {
    
}

.inputDesc {
    display: inline-flex;
    margin-left: 8px;
    margin-bottom: 4px;
    font-size: 22px;
}

.submitBtn {
    color: goldenrod;
    background: black;
    width: 150px;
    height: 45px;
    border: 0 solid black;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    display: block;
    margin: auto;
}

.cancelBtn {
    font-size: 35px;
    margin-right: 250px;
    padding-top: 10px;
    right: 0px;
    position: absolute;
    background-color: transparent;
    border: none;
}