.form {
    margin-top: 20px;
    margin-bottom: 50px;
}

.input {
    width: 260px;
    height: 30px;
    border: medium solid black;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 15px;
}

.textbox {
    width: 260px;
    border: medium solid black;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 5px 2px;
}

.detailParagraph {
    font-size: 20px;
    width: 290px;
    margin: auto;
}

.details {
    width: 300px;
    margin-left: 0px;
}

.inputDesc {
    display: inline-flex;
    margin-left: 8px;
    margin-bottom: 4px;
    font-size: 20px;
}

.submitBtn {
    color: goldenrod;
    background: black;
    width: 150px;
    height: 45px;
    border: 0 solid black;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    display: block;
    margin: auto;
}

.uploadBtn {
    border: 2px dashed red;
    background-color: transparent;
    border-radius: 10px;
    width: 270px;
    height: 90px;
}

.uploadBtnText {
    font-size: 20px;
    justify-content: flex-start;
}